amos/flatland-master/*
**/wandb/*
**/checkpoints/*.pth
*.DS_Store
**/__pycache__/*
**/*.pyc
**/runs/*
!**/runs/.gitkeep
!**/wandb/.gitkeep
amos/demo_rl_agent/utils/__pycache__/*
/reinforcement_learning/submissions
